<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        label {
            display: inline-block;
            width: 100px;
        }
        input:read-only {
            background: lightgray;
        }
        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<form id="edit-form" th:action="@{/api/books}" th:method="post" action="book-edit.html">
    <h1>Add book:</h1>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text"/>
    </div>

    <div class="row">
        <label for="author-select">Author:</label>
        <select id="author-select" name="author"></select>
    </div>

    <div class="row">
        <label for="genre-select">Genre:</label>
        <select id="genre-select" name="genre"></select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
<script>
    $(function () {
        $.get('/api/genres').done(function (genres) {
            genres.forEach(function (genre) {
                $('#genre-select').append($("<option></option>")
                    .attr("value", genre.id).text(genre.name));
            });
        });
        $.get('/api/authors').done(function (authors) {
            authors.forEach(function (author) {
                $('#author-select').append($("<option></option>")
                    .attr("value", author.id).text(author.firstName + ' ' + author.lastName));
            });
        });
        $('#edit-form').submit(function() {
            let book = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: JSON.stringify({name: $('#name-input').val(),
                    author: {id: $('#author-select').val()},
                    genre: {id: $('#genre-select').val()}
                }),
                contentType: "application/json",
                success: function(json) {
                    window.location = "/books";
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
