<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        label {
            display: inline-block;
            width: 100px;
        }
        input:read-only {
            background: lightgray;
        }
        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" th:action="@{/genre/edit(id=${genre.id})}" th:method="post" action="edit-genre.html">
    <h1>Genre info:</h1>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${genre.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${genre.name}" value="name"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
