<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        label {
            display: inline-block;
            width: 100px;
        }
        input:read-only {
            background: lightgray;
        }
        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" th:action="@{/author/edit(id=${author.id})}" th:method="post" action="edit-author.html">
    <h1>Author info:</h1>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${author.id}" value="1"/>
    </div>

    <div class="row">
        <label for="firstName-input">First name:</label>
        <input id="firstName-input" name="firstName" type="text" th:value="${author.firstName}" value="firstName"/>
    </div>

    <div class="row">
        <label for="lastName-input">Last name:</label>
        <input id="lastName-input" name="lastName" type="text" th:value="${author.lastName}" value="lastName"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
