<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Books:</h1>
<div><a href="/authors">Authors</a>&nbsp;&nbsp;<a href="/genres">Genres</a></div>
<a href="/books/add">New book</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(function () {
        $.get('/api/books').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.name}</td>
                        <td>${book.author.firstName + ' ' + book.author.lastName}</td>
                        <td>${book.genre.name}</td>
                        <td>
                            <a href="/books/edit?id=${book.id}"">Edit</a>
                            <button style="display: inline;" onclick="delete_book(${book.id});">Delete</button>
                        </td>
                    </tr>
                `);
            });
        });
    });
    function delete_book(id) {
        $.ajax({
            type: 'DELETE',
            url: "/api/books/" + id,
            success: function() {
                window.location = "/books";
            },
            error: function(request, status, error) {
                alert(request.responseJSON.message);
            }
        });
    }
</script>
</body>
</html>
