<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Authors:</h1>
<div><a href="/">Books</a>&nbsp;&nbsp;<a href="/genre">Genres</a></div>
<a href="/author/add">New author</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(function () {
        $.get('/api/author').done(function (authors) {
            authors.forEach(function (author) {
                $('tbody').append(`
                    <tr>
                        <td>${author.id}</td>
                        <td>${author.firstName}</td>
                        <td>${author.lastName}</td>
                        <td>
                            <a href="/author/edit?id=${author.id}">Edit</a>
                            <button style="display: inline;" onclick="delete_author(${author.id});">Delete</button>
                        </td>
                    </tr>
                `)
            });
        });
    });
    function delete_author(id) {
        $.ajax({
            type: 'DELETE',
            url: "/api/author/delete?id=" + id,
            success: function() {
                window.location = "/author";
            },
            error: function(request, status, error) {
                alert(request.responseJSON.message);
            }
        });
    }
</script>
</body>
</html>
