<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All genres</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Genres:</h1>
<div><a href="/">Books</a>&nbsp;&nbsp;<a href="/author">Authors</a></div>
<a href="/genre/add">New genre</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(function () {
        $.get('/api/genre').done(function (genres) {
            genres.forEach(function (genre) {
                $('tbody').append(`
                    <tr>
                        <td>${genre.id}</td>
                        <td>${genre.name}</td>
                        <td>
                            <a href="/genre/edit?id=${genre.id}">Edit</a>
                            <button style="display: inline;" onclick="delete_genre(${genre.id});">Delete</button>
                        </td>
                    </tr>
                `);
            });
        });
    });
    function delete_genre(id) {
        $.ajax({
            type: 'DELETE',
            url: "/api/genre/delete?id=" + id,
            success: function() {
                window.location = "/genre";
            },
            error: function(request, status, error) {
                alert(request.responseJSON.message);
            }
        });
    }
</script>
</body>
</html>
