<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testingService" class="ru.otus.spring01.service.TestingServiceImpl">
        <constructor-arg name="questionsReaderService" ref="questionsReaderService"></constructor-arg>
    </bean>

    <bean id="questionsReaderService" class="ru.otus.spring01.service.QuestionsReaderServiceImpl">
        <constructor-arg value="csv/questions.csv"></constructor-arg>
    </bean>
</beans>